<h1>
  New Word In 
  <%= params[:word] ?
      Category.find(params[:word][:category_id]).title :
      Category.find(params[:category_id]).title %>
</h1>

<%= render 'form', word: @word %>

<%= link_to 'Back', admin_words_path %>
