<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Avator</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%#TODO: enable to upload avator %>
        <td><%# user.avator %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Detail", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
