<p>Learned Words: 
  <%= link_to WordAnswer.eager_load(lesson: { category: :words })
                .where("word_answers.user_id = #{user.id}").count,
              activities_words_detail_path %>
</p>
<p>Learned Lessons: 
  <%= link_to user.lessons.count, lessons_path %>
</p>
